<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>M22T UP</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>
<body>
<!-- header -->
<div th:replace="~{fragment/fragment :: header}"></div>

<!-- 글쓰기. 검색 background-color: #e3f2fd; -->
<div style="display: flex; justify-content: center; align-items: center; padding: 20px;">
  <a href="/board/new" class="btn btn-outline-primary me-2" style="margin-right: 100px;">New M22T</a>
  <form action="/search" method="get" class="form-inline">
    <input type="search" class="form-control" id="search" placeholder="Search M22T..." size="30">
    <div style="margin-left: 10px;"> <!-- 간격을 추가하는 <div> 요소 -->
      <input type="button" class="btn btn-outline-primary" value="Search M22T"> <!-- type search -> button 으로 잠깐 바꿔놓음 -->
    </div>
  </form>
</div>
<hr width="85%">

<!-- -->
<tr th:each="item : ${items}">
  <td><a href="item.html" th:href="@{/items/{itemId}(itemId=${item.id})}" th:text="${item.id}">회원id</a></td>
  <td><a href="item.html" th:href="@{|/items/${item.id}|}" th:text="${item.itemName}">상품명</a></td>
  <td th:text="${item.price}">10000</td>
  <td th:text="${item.quantity}">10</td>
</tr>
<!-- 글 전부 출력 -->
<div class="container py-3">
  <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">

    <div th:each="post : ${postDtoList}">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h3 class="my-0 fw-normal" th:text="${post.title}" >제목</h3>
          </div>
          <div class="card-body">
            <!-- <h1 class="card-title pricing-card-title" th:text="${post.nickname}">nickname</h1> -->
            <ul class="list-unstyled mt-3 mb-4">
              <li th:text="'작성자: ' + ${post.nickname}" >작성자</li>
              <li th:if="${post.cost == 0}" >가격: 무료</li>
              <li th:if="${post.cost != 0}" th:text="'가격: ' + ${post.cost} + '원'" >가격</li>
              <li th:text="'설명: ' + ${post.content}" >내용</li>
            </ul>

            <div class="row">
              <div class="col">
                <a th:href="'/board/' + ${post.postId}" class="w-100 btn btn-lg btn-outline-primary">상세</a>
              </div>
              <div class="col">
                <a href="" class="w-100 btn btn-lg btn-outline-primary"
                   onclick="checkAndShowAlert(this.getAttribute('data-post-nickname'),this.getAttribute('data-session-nickname'))"
                   th:attr="data-post-nickname=${post.nickname}, data-session-nickname=${sessionNickname}">신청</a> </div>
            </div>
            <!-- <button type="button" class="w-100 btn btn-lg btn-outline-primary">신청하기</button> -->
          </div>
        </div>
      </div>
    </div>



    <script>

    function checkAndShowAlert(postNickname, sessionNickname) {
    console.log(postNickname);
    console.log(sessionNickname);

    if (postNickname === sessionNickname) {
        alert("자신의 글에는 신청할 수 없습니다.");
    } else {
        alert("신청되었습니다!");
    }
}
</script>
<!--
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">닉네임</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary">신청하기</button>
        </div>
      </div>
    </div>
-->

  </div>
</div>

<!-- footer -->
<div th:replace="~{fragment/fragment :: footer}"></div>
</body>
</html>