<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet Mix</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>

<body>

<!-- header -->
<div th:replace="~{fragment/fragment :: header}"></div>
<!-- header -->

<div class="text-center">
  <h1>Welcome To MeetMix</h1>
  <br>
  <hr style="width: 50%;">
  <br>
  <h5>1. 우측 상단 sign-up을 통해 회원가입을 하세요!</h5>
  <h5>2. 회원가입 후 우측 상단의 login을 통해 로그인을 하세요!</h5>
  <h5>3. Meetings를 통해 모임목록을 확인하세요!</h5>
  <h5>4. New Meet을 통해 새로운 모임을 만들어보세요!</h5>
</div>

<!-- footer -->
<div th:replace="~{fragment/fragment :: footer}"></div>
<!-- footer -->


</body>
</html>